{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
<div class="x_panel">
    <div class="x_title">
        <h2>Employe <small>Edit</small></h2>


    <div class="media">
        <div class="media-left">
            <img src="{{ asset('uploads/images/' ~ employe.image) }}" class="media-object" style="width:90px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ employe.nom }} {{ employe.prenom }}</h4>

        </div>
    </div>  <div class="clearfix"></div>
    </div>

{#
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}#}

  {#  <ul>
        <li>
            <a href="{{ path('employe_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        </ul>#}
    <form action="{{ path('employe_edit', { 'id': employe.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal form-label-left">

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(edit_form) }}
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Informations Connection</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.compte.email, "email ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.compte.email) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.compte.email) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.compte.username, "username ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.compte.username) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.compte.username) }}
                    </div>
                </div>
                <div class="form-group">

                    <div class="control-label col-md-3 col-sm-3 col-xs-12">

                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.compte.plainPassword) }}
                    <div class=" col-md-4 col-sm-4 col-xs-12 ">
                        {# Génération de l'input. #}
                        {{ form_row(edit_form.compte.plainPassword) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Informations Personnelles</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">

                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.nom, "nom ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.nom) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.nom) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.prenom, "prenom ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.prenom) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.prenom) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.situation, "situation ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.situation) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.situation) }}
                    </div></div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.dateNaissance, "dateNaissance ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.dateNaissance) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.dateNaissance) }}
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">InformationS Entreprise</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.departement, "departement ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.departement) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.departement) }}
                    </div></div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.isChef, "isChef ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.isChef) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.isChef) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {{ form_label(edit_form.image, "image ") }}
                    </div>
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.image ) }}
                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.image) }}
                    </div>
                </div>


                {{ form_rest(edit_form) }}
            </div>
        </div>
    </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>


    </form></div>
{% endblock %}
