{% extends 'base.html.twig' %}

{% block body %}
    <h1>Overtimes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Duree</th>
                <th>Cause</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for overTime in overTimes %}
            <tr>
                <td><a href="{{ path('overtime_show', { 'id': overTime.id }) }}">{{ overTime.id }}</a></td>
                <td>{% if overTime.date %}{{ overTime.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ overTime.duree }}</td>
                <td>{{ overTime.cause }}</td>
                <td>{% if overTime.statut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('overtime_show', { 'id': overTime.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('overtime_edit', { 'id': overTime.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('overtime_new') }}">Create a new overTime</a>
        </li>
    </ul>
{% endblock %}
