{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Client list</h1>
    <div class="row container" style="margin-bottom: 5px">
<div class="btn btn-primary" style=" float: right" onclick="location.href = '{{ path('client_new') }}'">Create a new entry</div>
    </div>
   
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcomplet</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nomComplet }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>       <td><div class="btn-group">
                            <button type="submit"
                                    onclick="location.href = '{{ path('client_show', { 'id': client.id }) }}'"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" class="btn btn-success btn-sm"
                                    onclick="location.href = '{{ path('client_edit', { 'id': client.id }) }}'"
                                    >
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
