{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Employe list</h1>
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search..." id="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
    </div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Situation</th>
                <th>Datenaissance</th>
                <th>Ischef</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td><a href="{{ path('employe_show', { 'id': employe.id }) }}">{{ employe.id }}</a></td>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.situation }}</td>
                    <td>{% if employe.dateNaissance %}{{ employe.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if employe.isChef %}Yes{% else %}No{% endif %}</td>
               
                    <td><div class="btn-group">
                            <button type="submit"
                                    onclick="location.href = '{{ path('employe_show', { 'id': employe.id }) }}'"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" class="btn btn-success btn-sm"
                                    onclick="location.href = '{{ path('employe_edit', { 'id': employe.id }) }}'"
                                    >
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
