{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Employe</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{{ employe.situation }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if employe.dateNaissance %}{{ employe.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ischef</th>
                <td>{% if employe.isChef %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
<div class="btn-group">
    <a class="btn bg-primary" href="{{ path('employe_index') }}"><span class="fa fa-reply"></span></a>
    <a class="btn bg-success" href="{{ path('employe_edit', { 'id': employe.id }) }}"><span class="fa fa-edit"></span></a>
</div>
{#    <ul>
        <li>
            <a class="btn bg-primary" href="{{ path('employe_index') }}"><span class="fa fa-reply"></span>Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employe_edit', { 'id': employe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
