{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Overtimes <small>List</small></h2>

            <div class="clearfix"></div>
        </div>
        {% for msg in app.session.flashbag.get('notice') %}
            <div class="alert alert-{{ msg.type }} fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ msg.title }}</strong><br/>{{ msg.message }}
            </div>
        {% endfor %}
        <table class='table'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Duree (en heure)</th>
                    <th>Cause</th>
                    <th>Statut</th>

                </tr>
            </thead>
            <tbody>
                {% for overTime in overTimes %}
                    <tr>
                        <td><a href="{{ path('overtime_show', { 'id': overTime.id }) }}">{{ overTime.id }}</a></td>
                        <td>{% if overTime.date %}{{ overTime.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ overTime.duree }}</td>
                        <td>{{ overTime.cause }}</td>
                        <td>{% if overTime.statut=="attente" %}<span class='label label-default'>en attente</span>{% elseif overTime.statut=="accepte" %}<span class='label label-success'>accepte</span>
                            {% elseif overTime.statut=="rejete" %}<span class='label label-danger'>refuse</span>{% endif %}</td>
                                <td>
                                   {# <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{path('overtime_attente', { 'id': overTime.id })}}"><i class="fa fa-ellipsis-h"></i> en attente</a></li>
                                            <li><a href="{{path('overtime_ok', { 'id': overTime.id })}}"><i class="fa fa-check"></i> accepte</a></li>
                                            <li><a href="{{path('overtime_nonOk', { 'id': overTime.id })}}"><i class="fa fa-trash-o"></i> rejette</a></li>
                                        </ul>
                                    </div>#}
                                    {#  <ul>
                                          <li>
                                              <a href="{{ path('overtime_show', { 'id': overTime.id }) }}">show</a>
                                          </li>
                                          <li>
                                              <a href="{{ path('overtime_edit', { 'id': overTime.id }) }}">edit</a>
                                          </li>
                                      </ul>#}
                                    <div class="btn-group">
                                        <button type="submit"
                                                onclick="location.href = '{{ path('overtime_show', { 'id': overTime.id }) }}'"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                        </button>
                                        <button type="submit" class="btn btn-success btn-sm"
                                                onclick="location.href = '{{ path('overtime_edit', { 'id': overTime.id }) }}'"
                                                >
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
    </div>
                        {% endblock %}
