{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
<div class="x_panel">
    <div class="x_title">
        <h2>TypeAbsence  <small>New</small></h2>

        <div class="clearfix"></div>
    </div>
<form action="{{ path('typeabsence_new') }}" method="post" {{ form_enctype(form) }} class="text-center form-horizontal form-label-left">

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.libelle, "Libelle ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.libelle) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.libelle) }}
                </div></div>
                    <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.pourcentage, "pourcentage ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.pourcentage) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.pourcentage) }}
                </div></div>
                    <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.isPayant, "isPayant ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.isPayant) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.isPayant) }}
                </div></div>
                    <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.dayoff, "jour autorise") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.dayoff) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.dayoff) }}
                </div></div>
                <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.decription, "decription") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.decription) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.decription) }}
                </div></div>
           
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            {{ form_rest(form) }}

        </form>
{#    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}
    <ul>
        <li>
            <a href="{{ path('typeabsence_index') }}">Back to the list</a>
        </li>
    </ul></div>
{% endblock %}
