{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
<div class="x_panel">
    <div class="x_title">
        <h2>Demandes de conges  <small>A valider</small></h2>

        <div class="clearfix"></div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Statutchef</th>
            <th>Statut</th>
            <th>Remarque</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td><a href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></td>
                <td>{% if absence.startDate %}{{ absence.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if absence.endDate %}{{ absence.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
              {#  <td>{% if absence.statutChef %}<a href="{{ path('validation_ok', { 'id': absence.id }) }}">
                        <span class="fa fa-check fa-2x bg-success success"></span></a>{% else %}<a href="{{ path('validation_ok', { 'id': absence.id }) }}">
                            <span class="fa fa-close bg-danger fa-2x"></span></a>{% endif %}</td>#}
                <td>{% if absence.statutChef=="attente" %}<span class="label label-warning">attente</span>
                    {% elseif absence.statutChef=="accepte" %}<span class="label label-success">accepte</span>
                    {% elseif absence.statutChef=="rejete" %}<span class="label label-danger">rejete</span>{% endif %}
                </td>

                <td>{% if absence.statut=="attente" %}<span class="label label-warning">attente</span>
                    {% elseif absence.statut=="accepte" %}<span class="label label-success">accepte</span>
                    {% elseif absence.statut=="rejete" %}<span class="label label-danger">rejete</span>{% endif %}
                </td><td>{{ absence.remarque }}</td>
                <td>{% if absence.date %}{{ absence.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">actions
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="{{ path('validation_ok', { 'id': absence.id }) }}">valide</a></li>
                            <li class=""><a href="{{ path('validation_non_ok', { 'id': absence.id }) }}">refuser</a></li>
                            <li class=""><a href="{{ path('validation_attente', { 'id': absence.id }) }}">attente</a></li>
                        </ul>
                    </div>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
