{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ photo.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ photo.alt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('photo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photo_edit', { 'id': photo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
