{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
<div class="x_panel">
    <div class="x_title">
        <h2>Typecontrats <small>List</small></h2>

        <div class="clearfix"></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Vacances</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeContrat in typeContrats %}
            <tr>
                <td><a href="{{ path('typecontrat_show', { 'id': typeContrat.id }) }}">{{ typeContrat.id }}</a></td>
                <td>{{ typeContrat.libelle }}</td>
                <td>{{ typeContrat.vacances }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typecontrat_show', { 'id': typeContrat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typecontrat_edit', { 'id': typeContrat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typecontrat_new') }}">Create a new typeContrat</a>
        </li>
    </ul></div>
{% endblock %}
