{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Projet list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomprojet</th>
                <th>Client</th>
                <th>Description</th>
                <th>Datestart</th>
                <th>Datestop</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.client }}</td>
                <td>{{ projet.description }}</td>
                <td>{% if projet.dateStart %}{{ projet.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if projet.dateStop %}{{ projet.dateStop|date('Y-m-d H:i:s') }}{% endif %}</td>
               
                             <td><div class="btn-group">
                            <button type="submit"
                                    onclick="location.href = '{{ path('projet_show', { 'id': projet.id }) }}'"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" class="btn btn-success btn-sm"
                                    onclick="location.href = '{{ path('projet_edit', { 'id': projet.id }) }}'"
                                    >
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
