{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dossier Personnel<span class="fa plus-minus"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('absence_my') }}">Mes Absences</a>
                        </li>
                        <li>
                            <a href="{{ path('activite_my') }}">Mes Activites</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_my') }}">Mes Projets</a>
                        </li>
                        <li>
                            <a href="#">Mes Heures Supp</a>
                        </li>
                        <li>
                            <a href="{{ path('employe_profil') }}">Mon Compte</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-stack-overflow fa-fw"></i>Suivi Du Personnel<span class="fa plus-minus"></span></a>
                    <ul class="nav nav-second-level">
                      {% if is_granted('ROLE_CHEF') %}  <li>
                            <a href="#"><i class="fa fa-check fa-fw"></i>Validation <span class="fa plus-minus"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="{{ path('validation') }}">Absence & Conge</a>
                                </li>
                                <li>
                                    <a href="#">Heures Supp</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}     <li>
                              <a href="{{ path('validation_final') }}">Validation Admin</a>
                          </li>{% endif %}
                            </ul>
                        </li>{% endif %}
                        <li>
                            <a href="#">Affectation Projet</a>
                        </li>
                        <li>
                            <a href="#">Suivi Activite</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>{% if is_granted('ROLE_CHEF') %}
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Administration Projet<span class="fa plus-minus"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('projet_index') }}">Liste Projets</a>
                        </li>
                        <li>
                            <a href="{{ path('client_index') }}">Liste Clients</a>
                        </li>
                        <li>
                            <a href="#">Suivi Projets</a>
                        </li>
                    </ul>
                </li> {% endif%}
                {#  <li>
                      <a href="#"><i class="fa fa-check fa-fw"></i> Validation<span class="fa plus-minus"></span></a>
                      <ul class="nav nav-second-level">
                          <li>
                              <a href="{{ path('validation') }}">Conges</a>
                          </li>
                          <li>
                              <a href="#">Heures Supplémentaires</a>
                          </li>
                          {% if is_granted('ROLE_ADMIN') %}     <li>
                              <a href="{{ path('validation_final') }}">Valide Conges</a>
                          </li>{% endif %}
                       
                      </ul>
                      <!-- /.nav-second-level -->
                  </li>#}
           
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i>Gestion Salaire<span class="fa plus-minus"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('projet_index') }}">Comptabilite</a>
                    </li>
                    <li>
                        <a href="{{ path('client_index') }}">RH</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>{% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Administration<span class="fa plus-minus"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('employe_index') }}">Liste Employes</a>
                    </li>
                    <li>
                        <a href="{{ path('departement_index') }}">Liste Departements</a>
                    </li>
                    <li>
                        <a href="{{ path('contrat_index') }}">Liste Contrats</a>
                    </li>
                    <li>
                        <a href="{{ path('typeabsence_index') }}">Liste Type</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>{% endif %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>{% endif %}
<!-- /.navbar-static-side -->
