{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Welcome to the Admin:edit page</h1>
    <dl class="dl-horizontal">

        <dt><span data-translate="userManagement.firstName">UserName</span></dt>
        <dd>{{user.username}}</dd>
        <dt><span data-translate="userManagement.firstName">Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span data-translate="userManagement.firstName">Roles</span></dt>
        <dd>{% for r in user.roles %}
            <span class="label label-info">{{r}}</span>
            {% endfor %}</dd>
        </dl>
        <label> Supprimer Un Role</label>
        <dl class="dl-horizontal">
            <dd>{% for r in user.roles %}
                <span class="label label-info"><a href="{{ path('employe_deleteRole', { 'id': user.id ,'role': r} )}}">{{r}}</a></span>
                {% endfor %}</dd></dl>
            <label> Ajouter Un Role</label>
            <dl class="dl-horizontal">
                <dd>{% for r in ras %}
                    <span class="label label-info"><a href="{{ path('employe_addRole', { 'id': user.id ,'role': r} )}}">{{r}}</a></span>
                    {% endfor %}</dd></dl>


                <p><a href="{{ path('employe_index') }}">Liste des Produits</a>
                </div>
                {% endblock %}