{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Activite creation</h1>
<form action="{{ path('activite_new') }}" method="post" {{ form_enctype(form) }} class="form-horizontal form-label-left">

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.description, "description ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.description) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.description) }}
                </div></div>
           <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.timeStart, "timeStart ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.timeStart) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.timeStart) }}
                </div></div>
                <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.timestop, "timestop ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.timestop) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.timestop) }}
                </div></div>
                <div class="form-group">
                {# Génération du label. #}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ form_label(form.projet, "projet ") }}
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.projet) }}
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.projet) }}
                </div></div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            {{ form_rest(form) }}

        </form>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('activite_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
