{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
<div class="x_panel">
    <div class="x_title">
        <h2>Contrat <small>Show</small></h2>

        <div class="clearfix"></div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if contrat.startDate %}{{ contrat.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if contrat.endDate %}{{ contrat.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Salairebrute</th>
                <td>{{ contrat.salaireBrute }}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ contrat.typeContrat.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contrat_edit', { 'id': contrat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul></div>
{% endblock %}
