{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
    <h1>Absence list</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Statutchef</th>
            <th>Statut</th>
            <th>Remarque</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td><a href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></td>
                <td>{% if absence.startDate %}{{ absence.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if absence.endDate %}{{ absence.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if absence.statutChef %}Yes{% else %}No{% endif %}</td>
                <td>{% if absence.statut %}Yes{% else %}No{% endif %}</td>
                <td>{{ absence.remarque }}</td>
                <td>{% if absence.date %}{{ absence.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td><div class="btn-group">
                        <button type="submit"
                                onclick="location.href = '{{ path('absence_show', { 'id': absence.id }) }}'"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit" class="btn btn-success btn-sm"
                                onclick="location.href = '{{ path('absence_edit', { 'id': absence.id }) }}'"
                                >
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                    </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
