{% extends "BallackTimeSheetBundle::layout.html.twig" %}

{% block main %}
   <div class="x_panel">
        <div class="x_title">
            <h2>Contrat<small>List</small></h2>

            <div class="clearfix"></div>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employe</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Salairebrute</th>
                <th>Typecontrat</th><th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td><a href="{{ path('contrat_show', { 'id': contrat.id }) }}">{{ contrat.id }}</a></td>
                <td>{{ contrat.employe.nom }} {{ contrat.employe.prenom }}</td>
                <td>{% if contrat.startDate %}{{ contrat.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if contrat.endDate %}{{ contrat.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ contrat.salaireBrute }}</td>
                <td>{{ contrat.typeContrat.libelle }}</td>
                <td>{% if contrat.etat %}<span class="label label-success">active</span>{% else %}
                        <span class="label label-danger">inactif</span>
                    {% endif %}</td>
                             <td><div class="btn-group">
                            <button type="submit"
                                    onclick="location.href = '{{ path('contrat_show', { 'id': contrat.id }) }}'"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" class="btn btn-success btn-sm"
                                    onclick="location.href = '{{ path('contrat_edit', { 'id': contrat.id }) }}'"
                                    >
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
    <ul>
        <li>
            <a href="{{ path('contrat_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
